.version.attus_volans /* version checker */
{
	color: #00000A;
	background-color: #CCC1FC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1055px;
	min-height: 376px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 14px 62px 11px;
}

#u152-6
{
	z-index: 40;
	width: 98px;
	min-height: 54px;
	top: 56px;
	left: 12px;
}

#u1016
{
	z-index: 58;
	width: 941px;
	background-color: transparent;
	margin-left: 113px;
	position: relative;
}

#pu153-4
{
	width: 0.01px;
	padding-bottom: 305px;
	margin-top: -365px;
}

#u153-4
{
	z-index: 46;
	width: 98px;
	min-height: 63px;
	top: 110px;
	left: 11px;
}

#u669-14
{
	z-index: 26;
	width: 98px;
	min-height: 64px;
	top: 181px;
	left: 11px;
}

#u116-24
{
	z-index: 2;
	width: 98px;
	min-height: 108px;
	top: 245px;
	left: 11px;
}

#u1209-10
{
	z-index: 68;
	width: 455px;
	min-height: 167px;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	margin-left: 113px;
	margin-top: 20px;
	position: relative;
}

#u1236
{
	z-index: 50;
	width: 941px;
	background-color: transparent;
	margin-left: 113px;
	margin-top: 51px;
	position: relative;
}

#u1220
{
	z-index: 78;
	width: 941px;
	background-color: transparent;
	margin-left: 113px;
	margin-top: 49px;
	position: relative;
}

#u876
{
	z-index: 52;
	width: 941px;
	background-color: transparent;
	margin-left: 113px;
	margin-top: 49px;
	position: relative;
}

#u882
{
	z-index: 54;
	width: 941px;
	background-color: transparent;
	margin-left: 114px;
	margin-top: 49px;
	position: relative;
}

#u888
{
	z-index: 56;
	width: 941px;
	background-color: transparent;
	margin-left: 114px;
	margin-top: 49px;
	position: relative;
}

#pu1203-4
{
	width: 0.01px;
	margin-left: 113px;
	margin-top: 99px;
}

#u1203-4
{
	z-index: 64;
	width: 31px;
	min-height: 14px;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
}

#u1202-4
{
	z-index: 60;
	width: 107px;
	min-height: 14px;
	background-color: transparent;
	text-align: right;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 834px;
}

body
{
	position: relative;
	min-width: 1080px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

