.version.contact /* version checker */
{
	color: #0000FF;
	background-color: #F754E1;
}

#page
{
	z-index: 1;
	width: 1080px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u152-6
{
	z-index: 40;
	width: 98px;
	min-height: 54px;
	top: 56px;
	left: 12px;
}

#u153-4
{
	z-index: 46;
	width: 98px;
	min-height: 63px;
	top: 110px;
	left: 11px;
}

#u669-14
{
	z-index: 26;
	width: 98px;
	min-height: 64px;
	top: 181px;
	left: 11px;
}

#u116-24
{
	z-index: 2;
	width: 98px;
	min-height: 108px;
	top: 245px;
	left: 11px;
}

#pu380-29
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: 124px;
}

#u380-29
{
	z-index: 50;
	width: 455px;
	min-height: 251px;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
}

#widgetu381
{
	z-index: 79;
	width: 0.01px;
	height: 262px;
	margin-top: 22px;
	position: relative;
}

#widgetu390
{
	z-index: 80;
	width: 572px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: -1px;
}

#widgetu390.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 572px;
	height: 47px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u391-4
{
	z-index: 81;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u392-4
{
	z-index: 85;
	width: 558px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu390.non-empty-st #u392-4
{
	background-color: #FFFFFF;
}

#widgetu390:hover #u392-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 558px;
	margin: 19px -10000px 0px 0px;
}

#widgetu390.focus-st #u392-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 558px;
	margin: 19px -10000px 0px 0px;
}

#widgetu390.non-empty-st #u392-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu390:hover #u392-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu390.focus-st #u392-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u382-4
{
	z-index: 89;
	width: 265px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 225px;
}

#widgetu381.frm-sub-st #u382-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u388-4
{
	z-index: 93;
	width: 265px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 225px;
}

#widgetu381.frm-subm-err-st #u388-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u383-4
{
	z-index: 97;
	width: 265px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 225px;
}

#widgetu381.frm-sub-st #u382-4,#widgetu381.frm-subm-err-st #u388-4,#widgetu381.frm-subm-ok-st #u383-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu381.frm-subm-ok-st #u383-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Courier New, Courier, monospace;
	font-style: normal;
}

#u389-17
{
	z-index: 101;
	min-height: 29px;
	width: 62px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	left: 509px;
	background: url("../images/u389-17.png") no-repeat 0px 0px;
}

#u389-17:hover
{
	background: url("../images/u389-17-r.png") no-repeat 0px 0px;
}

#u389-17:active
{
	background: url("../images/u389-17-m.png") no-repeat 0px 0px;
}

#widgetu381.frm-sub-st #u389-17
{
	background: url("../images/u389-17-fs.png") no-repeat 0px 0px;
}

#widgetu384
{
	z-index: 118;
	width: 572px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: -1px;
}

#widgetu384.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 572px;
	height: 101px;
	min-height: 0px;
	margin: 119px -10000px 0px 0px;
}

#u386-4
{
	z-index: 119;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu384.fld-err-st #u386-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u387-4
{
	z-index: 123;
	width: 558px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Courier New, Courier, monospace;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu384.non-empty-st #u387-4
{
	background-color: #FFFFFF;
}

#widgetu384:hover #u387-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 558px;
	margin: 19px -10000px 0px 0px;
}

#widgetu384.focus-st #u387-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 558px;
	margin: 19px -10000px 0px 0px;
}

#widgetu384.fld-err-st #u387-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 558px;
	margin: 19px -10000px 0px 0px;
}

#widgetu384.non-empty-st #u387-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu384:hover #u387-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu384.focus-st #u387-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu384_input,#widgetu384_prompt
{
	width: 558px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Courier New, Courier, monospace;
	font-style: normal;
	padding: 6px;
}

#widgetu403
{
	z-index: 127;
	width: 572px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu403.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 572px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u406-4
{
	z-index: 128;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu390.fld-err-st #u391-4,#widgetu403.fld-err-st #u406-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu390.fld-err-st #u391-4 p,#widgetu390.fld-err-st #u391-4 span,#widgetu384.fld-err-st #u386-4 p,#widgetu384.fld-err-st #u386-4 span,#widgetu403.fld-err-st #u406-4 p,#widgetu403.fld-err-st #u406-4 span
{
	color: #D7244C;
}

#u405-4
{
	z-index: 132;
	width: 558px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu403.non-empty-st #u405-4
{
	background-color: #FFFFFF;
}

#widgetu403:hover #u405-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 558px;
	margin: 19px -10000px 0px 0px;
}

#widgetu403.focus-st #u405-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 558px;
	margin: 19px -10000px 0px 0px;
}

#widgetu390.fld-err-st #u392-4,#widgetu403.fld-err-st #u405-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 558px;
	margin: 19px -10000px 0px 0px;
}

#widgetu403.non-empty-st #u405-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu403:hover #u405-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu403.focus-st #u405-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu390.fld-err-st #u392-4 *,#widgetu384.fld-err-st #u387-4 *,#widgetu403.fld-err-st #u405-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu390_input,#widgetu390_prompt,#widgetu403_input,#widgetu403_prompt
{
	width: 558px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Courier New, Courier, monospace;
	padding: 6px;
}

#widgetu390.focus-st #widgetu390_prompt,#widgetu384.focus-st #widgetu384_prompt,#widgetu403.focus-st #widgetu403_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu390:hover #widgetu390_input,#widgetu390.focus-st #widgetu390_input,#widgetu390.fld-err-st #widgetu390_input,#widgetu390:hover #widgetu390_prompt,#widgetu390.fld-err-st #widgetu390_prompt,#widgetu384:hover #widgetu384_input,#widgetu384.focus-st #widgetu384_input,#widgetu384.fld-err-st #widgetu384_input,#widgetu384:hover #widgetu384_prompt,#widgetu384.fld-err-st #widgetu384_prompt,#widgetu403:hover #widgetu403_input,#widgetu403.focus-st #widgetu403_input,#widgetu403.fld-err-st #widgetu403_input,#widgetu403:hover #widgetu403_prompt,#widgetu403.fld-err-st #widgetu403_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu390.non-empty-st #widgetu390_prompt,#widgetu384.non-empty-st #widgetu384_prompt,#widgetu403.non-empty-st #widgetu403_prompt
{
	visibility: hidden;
}

body
{
	position: relative;
	min-width: 1080px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

