.version.der_vampyr /* version checker */
{
	color: #0000FE;
	background-color: #DC2CEB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1054px;
	min-height: 375.49999999999955px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 15px 62.500000000000455px 11px;
}

#u152-6
{
	z-index: 40;
	width: 98px;
	min-height: 54px;
	top: 56px;
	left: 12px;
}

#u918
{
	z-index: 54;
	width: 941px;
	background-color: transparent;
	margin-left: 113px;
	position: relative;
}

#pu153-4
{
	width: 0.01px;
	padding-bottom: 305px;
	margin-top: -615px;
}

#u153-4
{
	z-index: 46;
	width: 98px;
	min-height: 63px;
	top: 110px;
	left: 11px;
}

#u669-14
{
	z-index: 26;
	width: 98px;
	min-height: 64px;
	top: 181px;
	left: 11px;
}

#u116-24
{
	z-index: 2;
	width: 98px;
	min-height: 108px;
	top: 245px;
	left: 11px;
}

#u1022-12
{
	z-index: 58;
	width: 455px;
	min-height: 173px;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	margin-left: 113px;
	margin-top: 20px;
	position: relative;
}

#u924
{
	z-index: 56;
	width: 941px;
	background-color: transparent;
	margin-left: 113px;
	margin-top: 49px;
	position: relative;
}

#u905
{
	z-index: 50;
	width: 941px;
	background-color: transparent;
	margin-left: 113px;
	margin-top: 50px;
	position: relative;
}

#u910
{
	z-index: 52;
	width: 941px;
	background-color: transparent;
	margin-left: 113px;
	margin-top: 48px;
	position: relative;
}

#pu1206-4
{
	width: 0.01px;
	margin-left: 113px;
	margin-top: 98px;
}

#u1206-4
{
	z-index: 74;
	width: 125px;
	min-height: 14px;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
}

#u1205-4
{
	z-index: 70;
	width: 113px;
	min-height: 14px;
	background-color: transparent;
	text-align: right;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 828px;
}

body
{
	position: relative;
	min-width: 1080px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

