.version.instagram /* version checker */
{
	color: #0000FB;
	background-color: #1EE852;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1080px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u152-6
{
	z-index: 40;
	width: 98px;
	min-height: 54px;
	top: 56px;
	left: 12px;
}

#u153-4
{
	z-index: 46;
	width: 98px;
	min-height: 63px;
	top: 110px;
	left: 11px;
}

#u669-14
{
	z-index: 26;
	width: 98px;
	min-height: 64px;
	top: 181px;
	left: 11px;
}

#u116-24
{
	z-index: 2;
	width: 98px;
	min-height: 108px;
	top: 245px;
	left: 11px;
}

#u108
{
	z-index: 50;
	width: 955px;
	min-height: 1010px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 65px;
}

body
{
	position: relative;
	min-width: 1080px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

