.version.attus_volans /* version checker */
{
	color: #0000F5;
	background-color: #C20796;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 446px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 53px 10px 71px;
}

#accordionu2240
{
	z-index: 32;
	width: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u2241
{
	z-index: 33;
	width: 381px;
	background-color: transparent;
	position: relative;
}

#u2242-4
{
	z-index: 34;
	width: 369px;
	min-height: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 12px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
}

#u2242-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 12px;
	width: 369px;
	margin: 0px;
}

#u2242-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 12px;
	width: 369px;
	margin: 0px;
}

#u2242-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 12px;
	width: 369px;
	margin: 0px;
}

#u2242-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
	font-family: Courier New, Courier, monospace;
}

#u2243
{
	z-index: 38;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u2244-16
{
	z-index: 39;
	width: 99px;
	min-height: 91px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u2245-32
{
	z-index: 55;
	width: 199px;
	min-height: 91px;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 170px;
}

#u2245-5,#u2245-30
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2245,#u2245-3,#u2245-9,#u2245-17,#u2245-23,#u2245-27,#u2245-28
{
	font-size: 12px;
	line-height: 14px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u1969
{
	z-index: 10;
	width: 360px;
	background-color: transparent;
	position: relative;
}

#u1990-10
{
	z-index: 22;
	width: 360px;
	min-height: 168px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	margin-top: 29px;
	position: relative;
}

#u1964
{
	z-index: 8;
	width: 360px;
	background-color: transparent;
	margin-top: 49px;
	position: relative;
}

#u1979
{
	z-index: 12;
	width: 360px;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
}

#u1948
{
	z-index: 2;
	width: 360px;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
}

#u1954
{
	z-index: 4;
	width: 360px;
	background-color: transparent;
	margin-top: 29px;
	position: relative;
}

#u1959
{
	z-index: 6;
	width: 360px;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
}

#pu1986-4
{
	width: 0.01px;
	margin-top: 39px;
}

#u1986-4
{
	z-index: 18;
	width: 31px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
}

#u1985-4
{
	z-index: 14;
	width: 107px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 253px;
}

#u2274
{
	z-index: 87;
	width: 360px;
	height: 39px;
	position: relative;
}

.ie #u2274
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

