.version.contact /* version checker */
{
	color: #00000D;
	background-color: #012D42;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 446px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 53px 10px 71px;
}

#accordionu2222
{
	z-index: 86;
	width: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
	left: -1px;
}

#u2223
{
	z-index: 87;
	width: 381px;
	background-color: transparent;
	position: relative;
}

#u2224-4
{
	z-index: 88;
	width: 369px;
	min-height: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 12px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
}

#u2224-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 12px;
	width: 369px;
	margin: 0px;
}

#u2224-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 12px;
	width: 369px;
	margin: 0px;
}

#u2224-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 12px;
	width: 369px;
	margin: 0px;
}

#u2224-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
	font-family: Courier New, Courier, monospace;
}

#u2225
{
	z-index: 92;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u2226-16
{
	z-index: 93;
	width: 99px;
	min-height: 91px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u2227-32
{
	z-index: 109;
	width: 199px;
	min-height: 91px;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 170px;
}

#u2227-5,#u2227-30
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2227,#u2227-3,#u2227-9,#u2227-17,#u2227-23,#u2227-27,#u2227-28
{
	font-size: 12px;
	line-height: 14px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u2024-27
{
	z-index: 2;
	width: 360px;
	min-height: 247px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
}

#widgetu2025
{
	z-index: 29;
	width: 0.01px;
	height: 262px;
	margin-top: 33px;
	position: relative;
}

#widgetu2026
{
	z-index: 30;
	width: 362px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: -1px;
}

#widgetu2026.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 362px;
	height: 47px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u2027-4
{
	z-index: 31;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	text-align: left;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u2028-4
{
	z-index: 35;
	width: 348px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding: 6px;
	color: #C4C4C4;
	line-height: 12px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu2026.non-empty-st #u2028-4
{
	background-color: #FFFFFF;
}

#widgetu2026:hover #u2028-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2026.focus-st #u2028-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2026.non-empty-st #u2028-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2026:hover #u2028-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2026.focus-st #u2028-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u2040-4
{
	z-index: 39;
	width: 265px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 15px;
}

#widgetu2025.frm-sub-st #u2040-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2039-4
{
	z-index: 43;
	width: 265px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 15px;
}

#widgetu2025.frm-subm-err-st #u2039-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2030-4
{
	z-index: 47;
	width: 265px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 15px;
}

#widgetu2025.frm-sub-st #u2040-4,#widgetu2025.frm-subm-err-st #u2039-4,#widgetu2025.frm-subm-ok-st #u2030-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu2025.frm-subm-ok-st #u2030-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Courier New, Courier, monospace;
	font-style: normal;
}

#u2041-17
{
	z-index: 51;
	min-height: 29px;
	width: 62px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	left: 299px;
	background: url("../../images/u2041-17.png") no-repeat 0px 0px;
}

#u2041-17:hover
{
	background: url("../../images/u2041-17-r.png") no-repeat 0px 0px;
}

#u2041-17:active
{
	background: url("../../images/u2041-17-m.png") no-repeat 0px 0px;
}

#widgetu2025.frm-sub-st #u2041-17
{
	background: url("../../images/u2041-17-fs.png") no-repeat 0px 0px;
}

#widgetu2031
{
	z-index: 68;
	width: 362px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: -1px;
}

#widgetu2031.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 362px;
	height: 101px;
	min-height: 0px;
	margin: 119px -10000px 0px 0px;
}

#u2032-4
{
	z-index: 69;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	text-align: left;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu2031.fld-err-st #u2032-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u2034-4
{
	z-index: 73;
	width: 348px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding: 6px;
	color: #C4C4C4;
	line-height: 12px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu2031.non-empty-st #u2034-4
{
	background-color: #FFFFFF;
}

#widgetu2031:hover #u2034-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2031.focus-st #u2034-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2031.fld-err-st #u2034-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2031.non-empty-st #u2034-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2031:hover #u2034-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2031.focus-st #u2034-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2031_input,#widgetu2031_prompt
{
	width: 348px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Courier New, Courier, monospace;
	font-size: 12px;
	padding: 6px;
}

#widgetu2035
{
	z-index: 77;
	width: 362px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu2035.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 362px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2037-4
{
	z-index: 78;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 12px;
	text-align: left;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu2026.fld-err-st #u2027-4,#widgetu2035.fld-err-st #u2037-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2026.fld-err-st #u2027-4 p,#widgetu2026.fld-err-st #u2027-4 span,#widgetu2031.fld-err-st #u2032-4 p,#widgetu2031.fld-err-st #u2032-4 span,#widgetu2035.fld-err-st #u2037-4 p,#widgetu2035.fld-err-st #u2037-4 span
{
	color: #D7244C;
}

#u2036-4
{
	z-index: 82;
	width: 348px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding: 6px;
	color: #C4C4C4;
	line-height: 12px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu2035.non-empty-st #u2036-4
{
	background-color: #FFFFFF;
}

#widgetu2035:hover #u2036-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2035.focus-st #u2036-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2026.fld-err-st #u2028-4,#widgetu2035.fld-err-st #u2036-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 348px;
	margin: 19px -10000px 0px 0px;
}

#widgetu2035.non-empty-st #u2036-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2035:hover #u2036-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2035.focus-st #u2036-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2026.fld-err-st #u2028-4 *,#widgetu2031.fld-err-st #u2034-4 *,#widgetu2035.fld-err-st #u2036-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu2026_input,#widgetu2026_prompt,#widgetu2035_input,#widgetu2035_prompt
{
	width: 348px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Courier New, Courier, monospace;
	font-size: 12px;
	padding: 6px;
}

#widgetu2026.focus-st #widgetu2026_prompt,#widgetu2031.focus-st #widgetu2031_prompt,#widgetu2035.focus-st #widgetu2035_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu2026:hover #widgetu2026_input,#widgetu2026.focus-st #widgetu2026_input,#widgetu2026.fld-err-st #widgetu2026_input,#widgetu2026:hover #widgetu2026_prompt,#widgetu2026.fld-err-st #widgetu2026_prompt,#widgetu2031:hover #widgetu2031_input,#widgetu2031.focus-st #widgetu2031_input,#widgetu2031.fld-err-st #widgetu2031_input,#widgetu2031:hover #widgetu2031_prompt,#widgetu2031.fld-err-st #widgetu2031_prompt,#widgetu2035:hover #widgetu2035_input,#widgetu2035.focus-st #widgetu2035_input,#widgetu2035.fld-err-st #widgetu2035_input,#widgetu2035:hover #widgetu2035_prompt,#widgetu2035.fld-err-st #widgetu2035_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu2026.non-empty-st #widgetu2026_prompt,#widgetu2031.non-empty-st #widgetu2031_prompt,#widgetu2035.non-empty-st #widgetu2035_prompt
{
	visibility: hidden;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

