.version.der_vampyr /* version checker */
{
	color: #000010;
	background-color: #AEEBC1;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 446px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 53px 10px 71px;
}

#accordionu2246
{
	z-index: 30;
	width: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u2247
{
	z-index: 31;
	width: 381px;
	background-color: transparent;
	position: relative;
}

#u2248-4
{
	z-index: 32;
	width: 369px;
	min-height: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 12px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
}

#u2248-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 12px;
	width: 369px;
	margin: 0px;
}

#u2248-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 12px;
	width: 369px;
	margin: 0px;
}

#u2248-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 12px;
	width: 369px;
	margin: 0px;
}

#u2248-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
	font-family: Courier New, Courier, monospace;
}

#u2249
{
	z-index: 36;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u2250-16
{
	z-index: 37;
	width: 99px;
	min-height: 91px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u2251-32
{
	z-index: 53;
	width: 199px;
	min-height: 91px;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 170px;
}

#u2251-5,#u2251-30
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2251,#u2251-3,#u2251-9,#u2251-17,#u2251-23,#u2251-27,#u2251-28
{
	font-size: 12px;
	line-height: 14px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u1999
{
	z-index: 4;
	width: 360px;
	background-color: transparent;
	position: relative;
}

#u2017-12
{
	z-index: 10;
	width: 360px;
	min-height: 155px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	margin-top: 36px;
	position: relative;
}

#u1993
{
	z-index: 2;
	width: 360px;
	background-color: transparent;
	margin-top: 47px;
	position: relative;
}

#u2004
{
	z-index: 6;
	width: 360px;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
}

#u2009
{
	z-index: 8;
	width: 360px;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
}

#pu2019-4
{
	width: 0.01px;
	margin-top: 55px;
}

#u2019-4
{
	z-index: 26;
	width: 104px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
}

#u2018-4
{
	z-index: 22;
	width: 107px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	text-align: right;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 253px;
}

#u2275
{
	z-index: 85;
	width: 360px;
	height: 39px;
	position: relative;
}

.ie #u2275
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

