.version.loop_froots /* version checker */
{
	color: #000002;
	background-color: #5A4E06;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 433px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 53px 10px 84px;
}

#accordionu2252
{
	z-index: 14;
	width: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u2253
{
	z-index: 15;
	width: 381px;
	background-color: transparent;
	position: relative;
}

#u2254-4
{
	z-index: 16;
	width: 369px;
	min-height: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000000;
	line-height: 12px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
}

#u2254-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 12px;
	width: 369px;
	margin: 0px;
}

#u2254-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 12px;
	width: 369px;
	margin: 0px;
}

#u2254-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 12px;
	width: 369px;
	margin: 0px;
}

#u2254-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
	font-family: Courier New, Courier, monospace;
}

#u2255
{
	z-index: 20;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u2256-16
{
	z-index: 21;
	width: 99px;
	min-height: 91px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u2257-32
{
	z-index: 37;
	width: 199px;
	min-height: 91px;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 170px;
}

#u2257-5,#u2257-30
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2257,#u2257-3,#u2257-9,#u2257-17,#u2257-23,#u2257-27,#u2257-28
{
	font-size: 12px;
	line-height: 14px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u2020
{
	z-index: 2;
	width: 360px;
	min-height: 209px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2023-7
{
	z-index: 7;
	width: 360px;
	min-height: 157px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	margin-top: 14px;
	position: relative;
}

#u2022-4
{
	z-index: 3;
	width: 114px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	margin-top: 28px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

