.version.attus_volans /* version checker */
{
	color: #0000E5;
	background-color: #5ABF57;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 747px;
	min-height: 879px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 17px 11px 128px 10px;
}

#u1429-6
{
	z-index: 50;
	width: 98px;
	min-height: 54px;
	top: 17px;
	left: 11px;
}

#u1569
{
	z-index: 68;
	width: 637px;
	background-color: transparent;
	margin-left: 110px;
	position: relative;
}

#pu1430-4
{
	width: 0.01px;
	padding-bottom: 305px;
	margin-top: -225px;
}

#u1430-4
{
	z-index: 56;
	width: 98px;
	min-height: 63px;
	top: 71px;
	left: 10px;
}

#u1428-14
{
	z-index: 36;
	width: 98px;
	min-height: 64px;
	top: 142px;
	left: 10px;
}

#u1427-34
{
	z-index: 2;
	width: 98px;
	min-height: 108px;
	top: 206px;
	left: 10px;
}

#u1573-12
{
	z-index: 78;
	width: 629px;
	min-height: 171px;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	margin-left: 118px;
	top: -49px;
	margin-bottom: -49px;
	position: relative;
}

#u1561
{
	z-index: 60;
	width: 637px;
	background-color: transparent;
	margin-left: 110px;
	margin-top: 30px;
	position: relative;
}

#u1574
{
	z-index: 90;
	width: 637px;
	background-color: transparent;
	margin-left: 110px;
	margin-top: 29px;
	position: relative;
}

#u1563
{
	z-index: 62;
	width: 637px;
	background-color: transparent;
	margin-left: 110px;
	margin-top: 29px;
	position: relative;
}

#u1565
{
	z-index: 64;
	width: 637px;
	background-color: transparent;
	margin-left: 110px;
	margin-top: 31px;
	position: relative;
}

#u1567
{
	z-index: 66;
	width: 637px;
	background-color: transparent;
	margin-left: 110px;
	margin-top: 30px;
	position: relative;
}

#pu1572-4
{
	width: 0.01px;
	margin-left: 110px;
	margin-top: 31px;
}

#u1572-4
{
	z-index: 74;
	width: 31px;
	min-height: 14px;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
}

#u1571-4
{
	z-index: 70;
	width: 107px;
	min-height: 14px;
	background-color: transparent;
	text-align: right;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 530px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

