.version.contact /* version checker */
{
	color: #00000A;
	background-color: #6ACF13;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 562px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 462px;
}

#u1429-6
{
	z-index: 50;
	width: 98px;
	min-height: 54px;
	top: 17px;
	left: 11px;
}

#u1430-4
{
	z-index: 56;
	width: 98px;
	min-height: 63px;
	top: 71px;
	left: 10px;
}

#u1428-14
{
	z-index: 36;
	width: 98px;
	min-height: 64px;
	top: 142px;
	left: 10px;
}

#u1427-34
{
	z-index: 2;
	width: 98px;
	min-height: 108px;
	top: 206px;
	left: 10px;
}

#pu1470-27
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 120px;
}

#u1470-27
{
	z-index: 60;
	width: 637px;
	min-height: 270px;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
}

#widgetu1471
{
	z-index: 87;
	width: 0.01px;
	height: 262px;
	margin-top: 13px;
	position: relative;
}

#widgetu1472
{
	z-index: 88;
	width: 639px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: -1px;
}

#widgetu1472.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 639px;
	height: 47px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u1473-4
{
	z-index: 89;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1474-4
{
	z-index: 93;
	width: 625px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

.html,#widgetu1472.non-empty-st #u1474-4
{
	background-color: #FFFFFF;
}

#widgetu1472:hover #u1474-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 625px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1472.focus-st #u1474-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 625px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1472.non-empty-st #u1474-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1472:hover #u1474-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1472.focus-st #u1474-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1486-4
{
	z-index: 97;
	width: 265px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 301px;
}

#widgetu1471.frm-sub-st #u1486-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1485-4
{
	z-index: 101;
	width: 265px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 301px;
}

#widgetu1471.frm-subm-err-st #u1485-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1476-4
{
	z-index: 105;
	width: 265px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: Courier New, Courier, monospace;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 301px;
}

#widgetu1471.frm-sub-st #u1486-4,#widgetu1471.frm-subm-err-st #u1485-4,#widgetu1471.frm-subm-ok-st #u1476-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu1471.frm-subm-ok-st #u1476-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Courier New, Courier, monospace;
	font-style: normal;
}

#u1487-17
{
	z-index: 109;
	min-height: 29px;
	width: 62px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	left: 576px;
	background: url("../../images/u1487-17.png") no-repeat 0px 0px;
}

#u1487-17:hover
{
	background: url("../../images/u1487-17-r.png") no-repeat 0px 0px;
}

#u1487-17:active
{
	background: url("../../images/u1487-17-m.png") no-repeat 0px 0px;
}

#widgetu1471.frm-sub-st #u1487-17
{
	background: url("../../images/u1487-17-fs.png") no-repeat 0px 0px;
}

#widgetu1477
{
	z-index: 126;
	width: 639px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: -1px;
}

#widgetu1477.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 639px;
	height: 101px;
	min-height: 0px;
	margin: 119px -10000px 0px 0px;
}

#u1478-4
{
	z-index: 127;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1477.fld-err-st #u1478-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u1480-4
{
	z-index: 131;
	width: 625px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: Courier New, Courier, monospace;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1477.non-empty-st #u1480-4
{
	background-color: #FFFFFF;
}

#widgetu1477:hover #u1480-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 625px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1477.focus-st #u1480-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 625px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1477.fld-err-st #u1480-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 625px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1477.non-empty-st #u1480-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1477:hover #u1480-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1477.focus-st #u1480-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1477_input,#widgetu1477_prompt
{
	width: 625px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Courier New, Courier, monospace;
	font-style: normal;
	padding: 6px;
}

#widgetu1481
{
	z-index: 135;
	width: 639px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu1481.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 639px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1483-4
{
	z-index: 136;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1472.fld-err-st #u1473-4,#widgetu1481.fld-err-st #u1483-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1472.fld-err-st #u1473-4 p,#widgetu1472.fld-err-st #u1473-4 span,#widgetu1477.fld-err-st #u1478-4 p,#widgetu1477.fld-err-st #u1478-4 span,#widgetu1481.fld-err-st #u1483-4 p,#widgetu1481.fld-err-st #u1483-4 span
{
	color: #D7244C;
}

#u1482-4
{
	z-index: 140;
	width: 625px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1481.non-empty-st #u1482-4
{
	background-color: #FFFFFF;
}

#widgetu1481:hover #u1482-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 625px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1481.focus-st #u1482-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 625px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1472.fld-err-st #u1474-4,#widgetu1481.fld-err-st #u1482-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 625px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1481.non-empty-st #u1482-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1481:hover #u1482-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1481.focus-st #u1482-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1472.fld-err-st #u1474-4 *,#widgetu1477.fld-err-st #u1480-4 *,#widgetu1481.fld-err-st #u1482-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1472_input,#widgetu1472_prompt,#widgetu1481_input,#widgetu1481_prompt
{
	width: 625px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Courier New, Courier, monospace;
	padding: 6px;
}

#widgetu1472.focus-st #widgetu1472_prompt,#widgetu1477.focus-st #widgetu1477_prompt,#widgetu1481.focus-st #widgetu1481_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu1472:hover #widgetu1472_input,#widgetu1472.focus-st #widgetu1472_input,#widgetu1472.fld-err-st #widgetu1472_input,#widgetu1472:hover #widgetu1472_prompt,#widgetu1472.fld-err-st #widgetu1472_prompt,#widgetu1477:hover #widgetu1477_input,#widgetu1477.focus-st #widgetu1477_input,#widgetu1477.fld-err-st #widgetu1477_input,#widgetu1477:hover #widgetu1477_prompt,#widgetu1477.fld-err-st #widgetu1477_prompt,#widgetu1481:hover #widgetu1481_input,#widgetu1481.focus-st #widgetu1481_input,#widgetu1481.fld-err-st #widgetu1481_input,#widgetu1481:hover #widgetu1481_prompt,#widgetu1481.fld-err-st #widgetu1481_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu1472.non-empty-st #widgetu1472_prompt,#widgetu1477.non-empty-st #widgetu1477_prompt,#widgetu1481.non-empty-st #widgetu1481_prompt
{
	visibility: hidden;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

