.version.k_publication /* version checker */
{
	color: #00000E;
	background-color: #2467F5;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 747px;
	min-height: 879px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 17px 11px 128px 10px;
}

#u1429-6
{
	z-index: 50;
	width: 98px;
	min-height: 54px;
	top: 17px;
	left: 11px;
}

#u1522
{
	z-index: 60;
	width: 637px;
	background-color: transparent;
	margin-left: 110px;
	position: relative;
}

#pu1430-4
{
	width: 0.01px;
	padding-bottom: 305px;
	margin-top: -359px;
}

#u1430-4
{
	z-index: 56;
	width: 98px;
	min-height: 63px;
	top: 71px;
	left: 10px;
}

#u1428-14
{
	z-index: 36;
	width: 98px;
	min-height: 64px;
	top: 142px;
	left: 10px;
}

#u1427-34
{
	z-index: 2;
	width: 98px;
	min-height: 108px;
	top: 206px;
	left: 10px;
}

#u1525-10
{
	z-index: 62;
	width: 637px;
	min-height: 173px;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	margin-left: 110px;
	margin-top: 15px;
	position: relative;
}

#u1526
{
	z-index: 72;
	width: 637px;
	background-color: transparent;
	margin-left: 110px;
	margin-top: 26px;
	position: relative;
}

#u1532
{
	z-index: 78;
	width: 637px;
	background-color: transparent;
	margin-left: 110px;
	margin-top: 30px;
	position: relative;
}

#u1528
{
	z-index: 74;
	width: 637px;
	background-color: transparent;
	margin-left: 110px;
	margin-top: 29px;
	position: relative;
}

#u1530
{
	z-index: 76;
	width: 637px;
	background-color: transparent;
	margin-left: 110px;
	margin-top: 30px;
	position: relative;
}

#u1534
{
	z-index: 80;
	width: 637px;
	min-height: 419px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 110px;
	margin-top: 30px;
	position: relative;
}

#pu1537-4
{
	width: 0.01px;
	margin-left: 110px;
	margin-top: 30px;
}

#u1537-4
{
	z-index: 85;
	width: 162px;
	min-height: 14px;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
}

#u1536-4
{
	z-index: 81;
	width: 130px;
	min-height: 14px;
	background-color: transparent;
	text-align: right;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	left: 507px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

